<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Crea Utente</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
	crossorigin="anonymous">
</head>

<body>

	<div class="container">
		<div class="row">
			<div
				class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class="text-center">Crea Utente</h1>
				<div class="card-body">
					<form th:action="@{/utenti}" th:object="${utente}" method="POST">
						<div class="form-group mt-2">
							<label> Utente username </label> <input type="text"
								name="username" th:field="*{username}" class="form-control"
								placeholder="Inserisci username dell'utente" />
						</div>

						<div class="form-group mt-2">
							<label> Utente password </label> <input type="password"
								name="password" th:field="*{password}" class="form-control"
								placeholder="Inserisci password dell'utente" />
						</div>

						<div class="form-group">
							<label for="isAdmin">Ruolo:</label> <select id="isAdmin"
								name="isAdmin" class="form-control" >
								<option value="true">Admin</option>
								<option value="false">utente normale</option>
							</select>
						</div>
				</div>


				<button type="submit" class="btn btn-primary mt-5 w-100">
					Invia</button>

				</form>

			</div>
		</div>
	</div>
	</div>

</body>

</html>